[user]
    name = Andrew Hess
    email = andrew7hess@gmail.com
[pull]
    rebase = true
[alias]
    tree = log --all --decorate --oneline --graph
    tre  = tree -n 10
[credential]
    helper = osxkeychain
[init]
    defaultBranch = main
[http]
    postBuffer = 104857600
[core]
    editor = vim
